# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Flask
instance/
.webassets-cache

# Docker
.docker/

# Uploads folder content (not the folder itself)
app/static/uploads/*
!app/static/uploads/.gitkeep

# IDE
.idea/
.vscode/
*.swp
*.swo
app.txt
